<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Подключение к MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/factory?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- SQL-диалект для MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Логирование SQL-запросов -->
        <property name="hibernate.show_sql">flase</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Отключение второго уровня кеширования (если не используется) -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <!-- Подключение сущностей -->
        <mapping class="factory.infrastructure.db.entities.CarData"/>
        <mapping class="factory.infrastructure.db.entities.MotorData"/>
        <mapping class="factory.infrastructure.db.entities.BodyData"/>
        <mapping class="factory.infrastructure.db.entities.AccessoryData"/>
        
    </session-factory>
</hibernate-configuration>