<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="LogFile" fileName="lab5-client.log">
            <PatternLayout pattern="%d{dd.MM.yyyy, HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
